# ----- Bot Settings ----- #

# Discord Bot Token [Required]
TOKEN=

# Music / SFX Volume [Option / Default: 10]
MUSIC_VOLUME=10
SFX_VOLUME=20

# Max Quiz Sessions [Option / Default: 0 (Unlimited)]
MAX_SESSIONS=0

# MongoDB URI and DB Name [Required]
DB_URI=mongodb+srv://user:password@fqdn/?appName=name
DB_NAME=mogutune

# Lavalink v4 (LavaSrc Plugin Installation Recommended) [Required]
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_LABEL=localhost

# SFX URL or File Path (Full Path) [Option]
SFX_QUIZ_CORRECT=
SFX_QUIZ_INCORRECT=
SFX_QUIZ_Q=
SFX_QUIZ_A=
SFX_QUIZ_ERROR=

# YTMostReplayedAPI URL and Secret [Option]
YTMRAPI_URL=
YTMRAPI_SECRET=

# Discord Server ID and Text Channel ID for debugging [Option]
DEBUG_GUILD_ID=
DEBUG_TEXT_CHANNEL_ID=

# Uptime Kuma Push URL [Option]
UPTIME_KUMA_PUSH_URL=

# Debug Mode (true/false) [Option]
DEBUG=false

# Discord Activity Bridge [Required for Activity support]
ACTIVITY_BRIDGE_SECRET=
ACTIVITY_BRIDGE_PORT=8765

# ----- Bot Settings ----- #


# ----- Lavalink Settings ----- #

# Lavalink Server Settings [Required]
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=2333
LAVALINK_SERVER_PASSWORD=youshallnotpass

# Spotify API Settings [Option]
PLUGINS_LAVASRC_SPOTIFY_CLIENT_ID=
PLUGINS_LAVASRC_SPOTIFY_CLIENT_SECRET=
PLUGINS_LAVASRC_SPOTIFY_COUNTRY_CODE=JP
PLUGINS_LAVASRC_SPOTIFY_PLAYLIST_LOAD_LIMIT=2
PLUGINS_LAVASRC_SPOTIFY_ALBUM_LOAD_LIMIT=6

# ----- Lavalink Settings ----- #
