# Discord Bot Token [Required]
TOKEN=

# MongoDB URI and DB Name [Required]
DB_URI=mongodb+srv://user:password@fqdn/?appName=name
DB_NAME=introqbot

# Lavalink v3 (LavaSrc Plugin Installation Recommended) [Required]
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_LABEL=localhost

# YTMostReplayedAPI URL and Secret [Option]
YTMRAPI_URL=
YTMRAPI_SECRET=

# Discord Server ID and Text Channel ID for debugging [Option]
DEBUG_GUILD_ID=
DEBUG_TEXT_CHANNEL_ID=

# Uptime Kuma Push URL [Option]
UPTIME_KUMA_PUSH_URL=

# Debug Mode (true/false) [Option]
DEBUG=false
