# Discord Bot Token [Required]
TOKEN=

# Music / SFX Volume [Option / Default: 10]
MUSIC_VOLUME=10
SFX_VOLUME=10

# MongoDB URI and DB Name [Required]
DB_URI=mongodb+srv://user:password@fqdn/?appName=name
DB_NAME=introqbot

# Lavalink v4 (LavaSrc Plugin Installation Recommended) [Required]
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_LABEL=localhost

# SFX URL or File Path (Full Path) [Option]
SFX_QUIZ_CORRECT=
SFX_QUIZ_INCORRECT=
SFX_QUIZ_Q=
SFX_QUIZ_A=

# YTMostReplayedAPI URL and Secret [Option]
YTMRAPI_URL=
YTMRAPI_SECRET=

# Discord Server ID and Text Channel ID for debugging [Option]
DEBUG_GUILD_ID=
DEBUG_TEXT_CHANNEL_ID=

# Uptime Kuma Push URL [Option]
UPTIME_KUMA_PUSH_URL=

# Debug Mode (true/false) [Option]
DEBUG=false
